:root {
    /*These are the color that are used in the example. Some are repeated, ik.*/
    --color-0: #007acc;
    --color-1: #3e3e42;
    --color-2: #2d2d30;
    --color-3: #252526;
    --color-4: #1e1e1e;
    --color-5: #111111;
    --color-6: #f8f9fa;

    --gradient1-1: #f8ff00;
    --gradient1-2: #3ad59f;
    
}


* {
    scroll-behavior: smooth;
    scroll-padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--color-5);
}

.gradient-text {
    background: -webkit-linear-gradient(var(--gradient1-1), var(--gradient1-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/*Header customization*/
header {
    height: 200px;
    width: 100vw;
    position: fixed;
    background-color: var(--color-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5em;
}
header > nav {
    margin-right: 10%;
    width: 600px;
    color: var(--color-3);
    display: flex;
    gap: 4%;
    
}
header > h1 {
    margin: auto 0 auto 20%;
    
}

/*Header customization end*/

/*Hero area*/

/*Cool idea: Making an animation where the monkey comes 
from the left and the text with the button fades in */

#hero-section {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    align-items: center;
}
#hero-title-div{
   width: 30%;
   font-size: 1.3vw;
}
#hero-title-div > h1 {
    display: block;
    margin-block: 20px;
}
#hero-title-div > p {
    display: block;
    margin-block: 20px;
    color: var(--color-6)
}
#hero-img-div > img {
    display:block;
    object-fit: cover;
    width: 20vw;
    height: 20vw;
    margin: 20px;
    border-radius: 50%;
    
}
nav > a{
    color: white;
}

button {
    height: 3em;
    width: 10em;
    border-radius: 15px;
    font-size: 0.5em;
    color: var(--color-3);
    background-color: var(--color-4);
    border-style: none;
}
/*Hero area end*/

/*Info section*/

#info-section {
    height: 100vh;
    background-color: var(--color-2);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}

#info-section > h1{
    font-size: 5em;
}

#info-flex {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    
}

.info-box {
    
    height: 20vw;
    width: 20vw;
    background-color: var(--gradient1-2);
}


/*Info section end*/

/*Quote section*/
#quote-section {
    height: 50vh;
    background-color: var(--color-3);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}

#quote-section >div {
    margin-inline: 20%;
    color: white;
    font-size: 2em;
}

/*Quote section end*/

/*Quote section*/
#sign-up-section {
    height: 50vh;
    background-color: var(--color-5);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    text-align: center;
}

/*Quote section end*/

/* Footer */

footer{
    height: 200px;
    background-color:#101010;
    color: white;
    margin: auto;
    text-align: center;
    font-size: 2em;
}